
html{
  width: 100%;
  height:auto;
}
body{
  width: 100%;
  font-size: 20px;
  font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.box{
  float: left;
  text-align: center;
  margin-top: 40px;

}

.bodymain{
  box-sizing: border-box;
  background-image: url("./img/background1.JPG");
  background-color:rgba(255,255,255,0.7);
  background-size: cover;
  overflow: auto;
  width: 100%;
}

.para-font{
  display: inline-block;
  font-size:45px ;
  margin-top:50px ;
  margin-bottom: 0px;
  color: rgb(21, 97, 174);
}
.aboutme{
  width:35%;
  text-align: center;
}
.aboutme img{
  
  margin-top:30px; 
  width: 50%;
}

.aboutme ul{
  display:inline-block;
  list-style: none;
  text-align:left ;
}



.right-frame{
  width:55%;
}

.Hobbies{
  display: flex;
  flex-wrap: wrap;
  float: none;
  overflow: hidden;
  width: 100%;
  padding:70px;
}

.hobby{
  text-align: center;
  width:30%;
  float:left;
  margin-bottom: 20px;
}

.hobby-sentence{
  display: inline-block;
  text-align: left;
  font-size: 12px;
  width:70%;
}

.hobby img{
  width: 70%;

}
.hobby-title{
  display: inline-block;
  font-size: 15px;
  margin-top:15px;
  margin-bottom:5px;
  width:60%;
  color: darkolivegreen;
}

.sweets:hover{
  transition:0.5s all;
  background-color: rgb(221, 255, 221);
}
.jrock:hover{
  transition:0.5s all;
  background-color: rgba(230, 203, 255, 0.966);
}
.usamaru:hover{
  transition:0.5s all;
  background-color: rgb(247, 228, 206);
}
.curry:hover{
  transition:0.5s all;
  background-color: rgb(244, 253, 208);
}
.bukatsu:hover{
  transition:0.5s all;
  background-color: rgb(255, 214, 214);
}
.sanpo:hover{
  transition:0.5s all;
  background-color: rgb(198, 252, 255);
}
.Hobbies:hover > .hobby {
  opacity: .08;
}

.Hobbies > .hobby:hover {
  opacity: 1;
}
