
html{
  max-width: 100%;
  height:auto;
}
body{
  width: 100%;
  font-size: 25px;
  font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.box{
  float: left;
  text-align: center;
  margin-top: 40px;
  padding-left: 50px;
}

.bodymain{
  background-image: url("./img/background1.JPG");
  background-color:rgba(255,255,255,0.7);
  background-size: cover;
  overflow: auto;
  width: 100%;
}

.para-font{
  text-align: center;
  font-size:65px ;
  margin-top:50px ;
  margin-bottom: 0px;
  color: rgb(21, 97, 174);
}

.aboutme img{
  margin-top:30px; 
  width: 30%;
}

.aboutme ul{
  list-style: none;
  text-align: left;
  display: inline-block;
  padding-left: 200px;
}

.aboutme{
  width:35%;
  text-align: center;
}

.right-frame{
  width:55%;
}

.Hobbies{
  float: none;
  overflow: hidden;
  width: 100%;
  padding:70px 200px 150px 200px;
}

.hobby{
  text-align: center;
  width:30%;
  float:left;
  margin-bottom: 20px;
}

.hobby-sentence{
  display: inline-block;
  text-align: left;
  font-size: 15px;
  width:70%;
}

.hobby img{
  width: 70%;

}
.hobby-title{
  display: inline-block;
  font-size: 25px;
  margin-top:0px;
  margin-bottom:10px;
  width:60%;
  color: darkolivegreen;
}
.hobby:hover{
  transform:scale(1.25,1.25);
  transition:0.5s all;
  background-color: honeydew;
}
.Hobbies:hover > .hobby {
  opacity: .08;
}

.Hobbies > .hobby:hover {
  opacity: 1;
}
